{% extends "base.jinja" %}
{% load staticfiles %}

{% block title %}Lang{% endblock %}

{% block content %}
    <section id="feature" class="transparent-bg">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>The ✪ project</h2>
                <p class="lead">Meet the language from the 23rd century, NOW!</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-bullhorn"></i>
                                <h2>Extremely extensible</h2>
                                <h3>A ✪0 meta-language project that defines other languages</h3>
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-comments"></i>
                                <h2>Multi-dimensional</h2>
                                <h3>Prepared for information storage and transfer in a vast range of media</h3>
                            </div>
                        </div><!--/.col-md-4-->
                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-cloud-download"></i>
                                <h2>Easy to customize</h2>
                                <h3>Design your own language!</h3>
                            </div>
                        </div><!--/.col-md-4-->
                    </div>
                    <div class="row">

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-leaf"></i>
                                <h2>Computer friendly</h2>
                                <h3>Easily parsable, unambiguous</h3>
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-cogs"></i>
                                <h2>Culturally neutral</h2>
                                <h3>Culturally neutral to everyone, except Ratina team members :D</h3>
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-heart"></i>
                                <h2>Unleash your intellegence</h2>
                                <h3>Let's boost up your IQ, and destroy your EQ!</h3>
                            </div>
                        </div><!--/.col-md-4-->
                    </div>
                </div><!--/.services-->
            </div><!--/.row--> 
        </div>
    </section><!--/#bottom-->
{% endblock %}
